# Rename to .env.local and fill values

NEXTAUTH_SECRET=replace_with_random_long_string
NEXTAUTH_URL=http://localhost:3000

DISCORD_CLIENT_ID=1441859567766995045
DISCORD_CLIENT_SECRET=REPLACE_ME
DISCORD_SCOPE=identify guilds

# Database
DATABASE_URL="file:./prisma/dev.db"

# Discord Bot Token (for checking bot presence in guilds)
DISCORD_TOKEN=REPLACE_ME
